
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #E6EDEF;
}

h1{
  color: #515B34;
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h2{
  color: #D97961;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
}

p{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

button{
  border: none;
  color: #FFF;

text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.flex-container{
  width: 524px;
  height: 795px;
  margin: auto;
  border-radius: 39px;
  background: #FFF9F9;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 24px;
  

}

button.button1{
  background: #806F51;
  width: 231px;
  height: 58px;
 
 
}

button.button2{
  background: #D97961;
  width: 231px;
  height: 58px;
  
  
}

.profile-pic{
  width: 277px;
  height: 266px;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.NameaAndTitle{
  display: flex;
  flex-direction: column;
}